GroupBox{
    background-color: dimgray;
    padding: 15px 15px 15px 15px;
    border-color: black;
    border-radius: 5px;
    border-width: 1px;
}
GroupBox > #title{
    font-size: 20px;
    -unity-font-style: bold;
}